#page-title h1 {
    background-color: white;
    display: inline-block;
    border-radius: 10px;
    font-size: 35px;
    color: black;
    white-space: nowrap;
}

a#page-title {
    text-decoration: none;
  }

.hat-in-navbar {
    height: 29px;
    margin: 0 0 0 8px;
    transform: rotate(34deg);
}

nav.navbar {
    border-bottom: 7px solid #1f099a;
}

.nav-flex-container {
    display: flex;
    justify-content: center;
}