/* ================== Global Styles ==================== */

.App {
    text-align: center;
  }

/* Global Buttons  */

  button:hover, input[type="submit"]:hover {
  cursor: pointer;
}


button {
  border: 1px solid black;
  font-family: monospace;
  border-radius: 13px;
  font-size: 14px;
  padding: 4px 17px;
  margin-bottom:10px;
  font-family: monospace;
}

:root {
  --yellow-btn: #ccff00;
}


.yellow-btn {
  background-color: var(--yellow-btn);
}

.green-btn {
  background-color: #00ff66;
}

.big-btn {
  font-size: 19px;
  text-decoration: none;
}

input {
  height: 23px;
  border: 1px solid black;
  margin: 0 5px;
  font-size: 15px;
  border-radius: 5px;
  color: black;
}

input[type=number] {
width: 25px;
padding: 0 9px;
}

input[type="text"] {
  margin: 5px;
  padding: 0 18px;
}

input[type="submit"] {
  padding: 1px 25px;
  font-family: monospace;
  height: 100%;
}


input[type="text"] {
  font-family: monospace;
}

.counter-span {
  background-color: orange;
  padding: 5px;
  font-size: 15px;
}

/* Main content - Page Layout */

body {
  background-color: #1f099a;
  font-family: monospace;
}

.main-content {
  background-color: white;
  display: inline-block;
  width: 80%;
  border-radius: 10px;
}
  
.box {
    background-color: white;
    background-color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 18px;
    border: 1px solid black;
    display: inline-block;
}


.box:hover {
  cursor: pointer;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.grid-container {
  display: grid;
}

.three-cols {
  grid-template-columns: 1fr 1fr 1fr;
}


.game-title {
  text-decoration: underline;
}

h1 {
  font-size: 30px;
}

/*=========================  Specific Components ======================== */

/* Ready to Play */

.lets-go-img {
    height: 129px;
    padding: 0 0 30px;
}

/* Game Screen */

.button-link a {
  text-decoration: none;
  color: black;
}

.scores-wrapper {
  display: inline-block;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  /* font-size: 13px; */
}

img.hat-on-game-screen {
  height: 130px;
}

img.hat-on-game-screen:hover
{
    cursor: pointer;
    transform: rotate(360deg);
    transition: all 0.3s ease-in-out 0s;
}


/* Clue */

.clue-container {
  position: relative;
}

.clue-in-hat {
  position: absolute;
  left: 47%;
  z-index: 2;
  top: 63%;
  color:white;
  list-style-type: none;
}




/* Active Player Screen */

.start-clock {
  background-color: red;
  color: white;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 35px;
}

.current-clue {
  font-size: 40px;
  font-weight: 700;
}

.time-left {
  font-size: 60px;
  margin-top: 40px;
}