/* Global Styles */

.App {
    text-align: center;
    font-family: avenir;
  }
  
.game {
  background-color: white;
    background-color: white;
    padding: 10px 15px;
    font-size: 18px;
    border-radius: 18px;
    border: 1px solid black;
    display: inline-block;
}

 input {
    height: 23px;
    border: 1px solid black;
    margin: 0 5px;
    font-size: 15px;
    border-radius: 5px;
    color: black;
}

input[type=number] {
  width: 25px;
  padding: 0 9px;
}

  input[type="text"] {
    margin: 5px;
    padding: 0 18px;
  }
  
input[type="submit"] {
  padding: 0 18px;
  background-color: #c1a7a7;
}

.flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-title {
  text-decoration: underline;
}

button {
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  padding: 4px 17px;
  margin-bottom:10px;
}


/* Nav bar */

a#page-title {
  text-decoration: none;
}

.create-game-button {
  border: 1px solid black;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 9px;
  color: black;
}

/* Create Teams */

.game-title {
  text-decoration: underline;
  padding: 10px;
  background: orange;
  border-radius: 14px;
}

.players-in-team {
  padding:0;
  list-style-type: none;
}

img.hat {
  transform: rotate(180deg);
}

.teams-added-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.team-added-to-game {
  margin: 20px;
}

img.team {
  width: 48%;
}






/* Clue */

.clue-container {
  position: relative;
}

.clue-in-hat {
  position: absolute;
  left: 47%;
  z-index: 2;
  top: 63%;
  color:white;
  list-style-type: none;
}

/* Mapping of Players to then add Clues */

.player-name-to-add-clues {
  padding: 20px;
  border: 1px solid black;
  margin: 2% 4%;
  border-radius: 12px;
}

.player-name-to-add-clues:hover {
  background-color:#6418bf;
  color: white;
  font-weight: 700;

}

/*  Add Clues Component */

.players-adding-clues-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Active Player Screen */

.start-clock {
  background-color: red;
  color: white;
  margin-top: 20px;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  font-size: 35px;
}

.current-clue {
  font-size: 40px;
  font-weight: 700;
}

.time-left {
  font-size: 60px;
  margin-top: 40px;
}